body{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height:200%;
}
.Nav ul{
    background-color: red;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 0 solid rgba(18, 18, 19, 0.556);
    box-shadow: 0 0 10px rgba(12, 12, 12, 0.786);
    position: fixed;
    width: 100%;
    top: 0; 
}
.Nav ul li{
    display: inline-flex;
    margin: 0;
    font-size: 18px;
    letter-spacing: 1px;
    float: left;
}
.Nav ul li a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 20px;
    margin-right: 0;
    text-align: center;
}
.Nav ul li a:hover:not(active){
    background-color: #000;
    color: #fff;
}
.Nav ul li a.active{
    background-color: #fff;
    color: #000;
}
.showcase{
    background-color: red;
    color: #fff;
    padding: 6%;
    text-align: center;
}
.showcase h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
    font-size: 50px;
    font-weight: lighter;
}
.btn{
    padding: 12px;
    background-color: #000;
    color: #fff;
    border: none;
    outline: none;
    letter-spacing: 1px;
}
.btn:hover{
    background-color: #fff;
    color: #000;
    font-weight: bold;
}
.f_right{
    float: left;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10%;
    background-color: whitesmoke;
}
.sect1{
    margin: 0;
    text-align: left;
    margin-bottom: -10%;
}

.f_left{
    float: left;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10%;
    background-color: lightgrey;
}

.sect2{
    margin: 0;
    text-align: left;
    margin-top: -2%;
}
.anchor{
    float: right;
    margin: 0;
    padding: 7%;
    font-size: 12rem;
    width: auto;
}

h2{
    margin: 0;
}
p{
    padding: 5px;
}
.coffe{
    float: left;
    margin: auto;
    padding-right: 15%;
    font-size: 13rem;
}
.port{
    background-color: gray;
    color: #fff;
}
.port p{
    text-align: center;
    padding: 50px;
    font-size: 18px;
    margin: 0;
    justify-content: center;
}
.footer{
    padding: 4%;
    background-color: whitesmoke;
    text-align: center;
}
.link a{
    color:black;
}